@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/montserrat-v18-latin-regular.woff) format("woff");
}

* {
  box-sizing: border-box;
}

h1 {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 83, 83);
}

/* Content */
.content {
  width: 95%;
  max-width: 25em;
  margin: 1em auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

/* Form */
#city-form {
  width: 100%;

  display: flex;
  gap: 10px;
}

#city-keyword {
  flex-grow: 2;
  border-radius: 1em;
  border: 1px solid #a5a5a5;
}

input[type="text"] {
  outline-color: #b5b5b5;
  font-size: 0.7em;
  padding: 0.5em 1em;
}

#city-form button {
  padding: 0;

  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* Main Forecast Div */
.main-forecast {
  font-size: 85%;
  color: rgb(255, 255, 255);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(10px);
  border-radius: 0.8em;

  padding: 0.8em;
}

#location {
  font-size: 1.2em;
  text-align: center;
}

.info-container {
  margin-top: 0.8em;
  display: flex;
}

.main-info {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
}

#temp {
  font-size: 2em;
  font-weight: 900;
}

.weather-condition-icon {
  width: 4.5em;
  height: auto;
}

#weather-condition {
  font-size: 80%;
  font-weight: 600;
}

div > span {
  font-style: italic;
  font-weight: 600;
}

/* Sub Info */
.sub-info {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
