@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/montserrat-v18-latin-regular.woff) format("woff");
}

* {
  box-sizing: border-box;
}

h1 {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 188, 171);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
}

/* Content */
.content {
  width: 95%;
  max-width: 22em;
  margin: 1em auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

/* Form */
#city-form {
  width: 100%;

  display: flex;
  gap: 10px;
}

#city-keyword {
  flex-grow: 2;
  border-radius: 1em;
  border: none;
}

input[type="text"] {
  outline-color: #a7a7a7;
  font-size: 0.7em;
  padding: 0.5em 1em;
}

#city-form button {
  padding: 0.2em 0.6em;
  border-radius: 2px;
  color: #fff;

  border: none;
  background-color: rgba(0, 0, 0, 0.055);
}

#city-form button:hover {
  background-color: rgba(0, 0, 0, 0.267);
}

/* Units Div */
.unit {
  position: absolute;
  top: 1.2em;
  right: 1em;
  border: none;
  padding: 0;
  font-size: 80%;
  color: #616161;
  background-color: transparent;
  text-shadow: none;
}

.unit:hover {
  color: #e7e7e7;
}

/* Main Forecast Div */
.main-forecast {
  font-size: 80%;
  color: #fff;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.055);
  backdrop-filter: blur(10px);
  border-radius: 0.8em;

  padding: 0.8em;
}

#location {
  font-size: 1.2em;
  text-align: center;
}

.info-container {
  margin-top: 0.8em;
  display: flex;
}

.main-info {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
}

.hl {
  font-size: 85%;
}

#temp {
  font-size: 3em;
  font-weight: 900;
}

.weather-condition-icon {
  width: 4.5em;
  height: auto;
}

#weather-condition {
  font-size: 80%;
  font-weight: 600;
}

div > span {
  font-style: italic;
  font-weight: 600;
}

/* Sub Info */
.sub-info {
  flex-grow: 1;
  justify-self: flex-end;

  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

footer a {
  color: chocolate;
  text-shadow: none;
}

footer a:hover {
  text-shadow: inherit;
  color: white;
}
